<h3>この車への提案はこちらから</h3>
<div class="form_comment">
  <%= form_with(model: [@micropost, @comment], local: true) do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="form-group">
      <%= f.label :content %>
      <%= f.text_area :content , class: "form-control", rows: 10 %>
    </div>
    <br>
      <%= f.fields_for :images do |i| %>
        <%= i.file_field :img %>
      <% end %>
      <%= f.hidden_field :commentable_type, value: "Company" %>
      <%= f.hidden_field :commentable_id, value: current_company.id %>
    <%= f.submit 'コメントする' %>
  <% end %>
</div>