  <tbody>
        <tr>
            <th><%= post.id %></th>
            <td><%= post.title %></td>
            <td><%= post.name %></td>
            <td><%= post.created_at.strftime('%Y/%m/%d %H:%M') %></td>
            <td><%= post.updated_at.strftime('%Y/%m/%d %H:%M') %></td>
        </tr>
