<div class="container">
  <div class="search-form">
    <%= search_form_for @q do |f| %>
      <% f.label :car_name_or_title_or_content %>
      <%= f.search_field :car_name_or_title_or_content_cont, placeholder: "キーワードで探す" %>
      <%= f.submit "検索" %>
    <% end %>
  </div>
  <h2 class="font-weight-bold">投稿一覧</h2>
  <div class="micropost_list d-flex align-items-center">
    <div class="ml-auto posts_button">
      <a class="btn btn-outline-info" href=<%= new_micropost_path %> role="button">投稿</a>
    </div>
  </div>
  <div class="micropost-list col-lg-8">
    <%= render @microposts %>
  </div>
</div>