<%= javascript_include_tag "new_item.js" %>
<div class="form-group-micropost ">
  <%= form_for @micropost do |f| %>
    <div class="form_information">
      <%= f.label :title, "件名(必須)" %>
      <%= f.text_field :title, id: "form-title", class: "form-control" %>
      <%= f.label :content, "内容(必須)" %>
      <%= f.text_area :content, id: "form-content", class: "form-control", rows: 10 %>
      <div class="form-group" >
        <div class = "col-xs-4">
          <%= f.label :budget, :予算 %></br>
          <%= f.text_field :budget, class: "budget_field" %>&nbsp;万円</br>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :car_name, :車の名前 %>
        <%= f.text_field :car_name, class: "form-control" %>
      </div>
    </div>
    <div class= "post__drop__box__container">
      <div class="preview-content"></div>
      <div class="label-content">
        <label class="label-box" for="micropost_images_attributes_0_img" id="label-box--0">
          <pre class="label-box__text-visible">クリックして写真をアップロード</pre>
        </label>
      </div>
      <div class="hidden-content">
        <%= f.fields_for :images do |i| %>
          <%= i.file_field :img, class: "hidden-field" %>
          <input class="hidden-field" type="file" name="micropost[images_attributes][1][img]" id="micropost_images_attributes_1_img">
          <input class="hidden-field" type="file" name="micropost[images_attributes][2][img]" id="micropost_images_attributes_2_img">
          <input class="hidden-field" type="file" name="micropost[images_attributes][3][img]" id="micropost_images_attributes_3_img">
          <input class="hidden-field" type="file" name="micropost[images_attributes][4][img]" id="micropost_images_attributes_4_img">
        <% end %>
      </div>
        <div class="button_wrapper">
          <%= f.submit "投稿する", class:"btn btn-primary btn-block"%>
        </div>
      <% end %>
    </div>
</div>

<a href="/users/new">New User</a>
