<div class="form">
  <%= form_for @micropost do |f| %>
    <div class="form_information">
      <%= f.label :content, :内容 %>
      <%= f.text_field :content %>
      <%= f.label :budget, :予算 %>
      <%= f.text_field :budget %>
      <%= f.label :car_name, :車の名前 %>
      <%= f.text_field :car_name %>
    </div>
    <div class= "post__drop__box__container">
      <div class="preview-content"></div>
      <div class="label-content">
        <label class="label-box" for="micropost_images_attributes_0_img" id="label-box--0">
          <pre class="label-box__text-visible">クリックしてファイルをアップロード</pre>
        </label>
      </div>
      <div class="hidden-content">
        <%= f.fields_for :images do |i| %>
          <%= i.file_field :img, class: "hidden-field" %>
          <input class="hidden-field" type="file" name="micropost[images_attributes][1][img]" id="micropost_images_attributes_1_img">
          <input class="hidden-field" type="file" name="micropost[images_attributes][2][img]" id="micropost_images_attributes_2_img">
          <input class="hidden-field" type="file" name="micropost[images_attributes][3][img]" id="micropost_images_attributes_3_img">
          <input class="hidden-field" type="file" name="micropost[images_attributes][4][img]" id="micropost_images_attributes_4_img">
        <% end %>
      </div>
    </div>
  <%= f.submit %>
  <% end %>
</div>
