<div class="form-group-micropost">
  <div class="micropost-form-info container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <%= form_for @micropost do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
        <div class="micropost-form-information">
          <div class="form-group">
            <%= f.label :title, "タイトル" %>
            <%= f.text_field :title, id: "form-title", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :content, "内容(必須)" %>
            <%= f.text_area :content, id: "form-content", class: "form-control", rows: 10 %>
          </div>
          <div class="form-group" >
            <div class = "col-xs-4">
              <%= f.label :budget, :予算 %></br>
              <%= f.text_field :budget, class: "budget_field" %>&nbsp;万円</br>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :car_name, :車の名前 %>
            <%= f.text_field :car_name, id: 'form-search-car-name', class: "form-control" %>
          </div>
          <%= f.label :category, 'カテゴリ' %>
          <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |category| %>
            <%= category.label do %>
              <%= category.check_box %>
              <%= category.text %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="micropost-attach-image-container center-block">
    <div class="post__drop__box__container">
      <div class="preview-content"></div>
      <div class="label-content">
        <label class="label-box" for="micropost_images_attributes_0_img" id="label-box--0">
          <pre class="label-box__text-visible">クリックして写真をアップロード</pre>
        </label>
      </div>
      <div class="hidden-content">
        <%= f.fields_for :images do |i| %>
          <%= i.file_field :img, class: "hidden-field" %>
          <input class="hidden-field" type="file" name="micropost[images_attributes][1][img]" id="micropost_images_attributes_1_img">
          <input class="hidden-field" type="file" name="micropost[images_attributes][2][img]" id="micropost_images_attributes_2_img">
          <input class="hidden-field" type="file" name="micropost[images_attributes][3][img]" id="micropost_images_attributes_3_img">
          <input class="hidden-field" type="file" name="micropost[images_attributes][4][img]" id="micropost_images_attributes_4_img">
        <% end %>
      </div>
    </div>
  </div>
  <div class="button_wrapper">
    <%= f.submit "投稿する", class:"btn btn-primary btn-block"%>
  </div>
  <% end %>
</div>
<%= javascript_include_tag 'new_item.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'suggest.js', 'data-turbolinks-track': 'reload' %>